#principal{
	width: 900px;
	height: auto; 
	overflow: hidden;
	border: 0px solid #000;
	margin: auto;

}

body{
	background: #313D52;
}



#articulos{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
}

#info{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #fff;
	margin-top: 10px; 
}

#moderador{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px; color: #313D52;
	background-color: #fff;
}

#canal{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	background-color: #fff;
	color: #313D52;
	 
}

.cite{
	color: #fff;
}

.primero{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #313D52;
	background-color: #fff;
}

.segundo{
	margin-left: 12px;
	margin-right: 12px;
}


.img{
	margin-right: 7px;
	margin-bottom: 7px;
}


.parrafo{
	color: #313D52;
	text-align: justify;
	max-width: 280px;
	margin-top: auto;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #003149;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
	background-color: #006699;
	color: #ccc;
}

.leer-mas:hover{
	background: #349ccf;
	color: #fff;
	transition: background 1s, color 1s;
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}














